@import url('https://fonts.googleapis.com/css2?family=Inika:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:wght@400;500&display=swap');
html {
    font-size: 62.5%!;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}
#landing{
    margin-top: 50px;
}
#landing h3{
    font-size: 38px;
    max-width: 580px;
    margin: auto;
    font-weight: 700;
    padding: 0 0 10px 60px;
}
#landing-img{
    border-radius: 20px;
    width: 450px;
}
#landing p{
    font-size: 13px;
    max-width: 500px;
    margin: auto;
    padding: 0 0 0 20px;
}
#landing button{
    border: none;
    border-radius: 5px;
    outline: none;
    width: 100px;
    padding: 5px;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 500;
    background-color: #19213d;
    color: #fff;
    margin-left: 85px;
    margin-top: 30px;
}
#landing button a{
    text-decoration: none;
    color: #fff;
}
#landing button a:hover{
    color: #fff;
}
#about{
    margin-top: 100px;
}
#about-img{
    width: 280px;
    margin: 0 0 0 100px;
}
#about h3{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 0 85px;
}
#about hr{
    width: 100px;
    color: #000;
    background-color: #000;
    height: 1%;
    border: none;
}
#about p{
    font-size: 13px;
    padding: 0 0 0 85px;
}
#about button{
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #19213d;
    color: #fff;
    font-size: 13px;
    margin: 20px 0 0 85px;
    width: 100px;
}
#about button a{
    text-decoration: none;
    color: #fff;
}
#about button a:hover{
    color: #fff;
}
.us{
    margin-top: 100px;
}
.team{
    text-align: center;
    margin-top: 50px;
}
.team h5{
    text-transform: capitalize;
    font-size: 20px;
}
.team h3{
    font-size: 30px;
    margin-bottom: 50px;
}
.team-img1{
    width: 550px;
    border-radius: 20px;
    margin: 30px 0 0 85px;
}
.team-img2, .team-img3{
    width: 280px;
    border-radius: 20px;
    margin-left: 160px;
}
#teams h3, #teams p{
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 800;
    margin-top: 20px;
}
#customer-review h3, .customer-review h3{
    font-size: 15px;
    font-weight: 600;
}
#mission{
    margin-top: 80px;
}
.mission-img{
    width: 400px;
    border-radius: 20px;
    margin: 20px 0 0 150px;
}
#mission-txt{
    border: 1px solid #19213d;
    margin: 0 50px 0 0;
    max-width: 550px;
    text-align: center;
    padding: 50px;
    border-radius: 20px;
}
#mission-txt p{
    font-size: 13px;
}
#mission-txt h3{
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 35px;
}
#mission-txt button{
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 13px;
    font-weight: 600;
    width: 100px;
    padding: 7px;
    text-transform: capitalize;
    color: #fff;
    background-color: #19213d;
    margin: 10px 0 0 0;
}
#mission-txt button a{
    text-decoration: none;
    color: #fff;
}
.bi-award-fill, .bi-chat-fill{
    margin: 10px 0 20px 0;
    position: relative;
    left: 222px;
}
#database{
    background-color: #000;
    color: #fff;
}
#database-icon{
    border: 1px solid #fff;
    border-width: 2px;
    border-radius: 100%;
    background-color: #988fcc;
    
}
#database-content{
    display: flex;
}


@media only screen and (max-width: 600px){
    #landing-img{
        width: 100%;
        margin-left: 30px;
    }
    #landing h3{
        padding: 0;
        margin-left: 20px;
        font-size: 20px;
        margin-bottom: 20px;
    }
    #landing button{
        padding: 5;
        margin: 30px 0 10px 20px;
    }
    .team-img1, .team-img2, .team-img3{
        width: 100%;
        margin: 0;
    }
    .mission-img{
        width: 100%;
        margin: 0;
        padding-bottom: 30px;
    }
    #about{
        margin-top: 0;
        padding: 0;
    }
    .bi-award-fill, .bi-chat-fill{
        position: relative;
        left: 0;
    }
}
