@import url('https://fonts.googleapis.com/css2?family=Inika:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:wght@400;500&display=swap');
html {
    font-size: 62.5%!;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}
#landing{
    margin-top: 50px;
}
#landing h3{
    font-size: 38px;
    max-width: 580px;
    margin: auto;
    font-weight: 700;
    padding: 0 0 10px 60px;
}
#landing-img{
    border-radius: 20px;
    width: 450px;
}
#landing p{
    font-size: 13px;
    max-width: 500px;
    margin: auto;
    padding: 0 0 0 20px;
}
#landing button{
    border: none;
    border-radius: 5px;
    outline: none;
    width: 100px;
    padding: 5px;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 500;
    background-color: #19213d;
    color: #fff;
    margin-left: 85px;
    margin-top: 30px;
}
#landing button a{
    text-decoration: none;
    color: #fff;
}
#landing button a:hover{
    color: #fff;
}
#about{
    margin-top: 100px;
}
#about-img{
    width: 280px;
    margin: 0 0 0 100px;
}
#about h3{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 0 85px;
}
#about hr{
    width: 100px;
    color: #000;
    background-color: #000;
    height: 1%;
    border: none;
}
#about p{
    font-size: 13px;
    padding: 0 0 0 85px;
}
#about button{
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #19213d;
    color: #fff;
    font-size: 13px;
    margin: 20px 0 0 85px;
    width: 100px;
}
#about button a{
    text-decoration: none;
    color: #fff;
}
#about button a:hover{
    color: #fff;
}
.us{
    margin-top: 100px;
}
.team{
    text-align: center;
    margin-top: 50px;
}
.team h5{
    text-transform: capitalize;
    font-size: 20px;
}
.team h3{
    font-size: 30px;
    margin-bottom: 50px;
}
.team-img1{
    width: 550px;
    border-radius: 20px;
    margin: 30px 0 0 85px;
}
.team-img2, .team-img3{
    width: 280px;
    border-radius: 20px;
    margin-left: 160px;
}
#teams h3, #teams p{
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 800;
    margin-top: 20px;
}
#customer-review h3, .customer-review h3{
    font-size: 15px;
    font-weight: 600;
}
#mission{
    margin-top: 80px;
}
.mission-img{
    width: 400px;
    border-radius: 20px;
    margin: 20px 0 0 150px;
}
#mission-txt{
    border: 1px solid #19213d;
    margin: 0 50px 0 0;
    max-width: 550px;
    text-align: center;
    padding: 50px;
    border-radius: 20px;
}
#mission-txt p{
    font-size: 13px;
}
#mission-txt h3{
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 35px;
}
#mission-txt button{
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 13px;
    font-weight: 600;
    width: 100px;
    padding: 7px;
    text-transform: capitalize;
    color: #fff;
    background-color: #19213d;
    margin: 10px 0 0 0;
}
#mission-txt button a{
    text-decoration: none;
    color: #fff;
}
.bi-award-fill, .bi-chat-fill{
    margin: 10px 0 20px 0;
    position: relative;
    left: 222px;
}
#database{
    background-color: #161129;
    color: #fff;
    padding: 30px;
    margin-top: 60px;
}
#database-icon{
    border: 1px solid #fff;
    border-width: 3px;
    border-radius: 100%;
    background-color: #988fcc;
    padding: 10px;
}
#database-content{
    display: flex;
    margin-left: 50px;
}
#database h3{
    font-size: 17px;
    font-weight: 600;
    padding-left: 10px;
    margin-top: 10px;
}
#database p{
    font-size: 13px;
    text-transform: capitalize;
    margin-left: 120px;
    margin-top: -20px;
}
#service-landing{
    margin-top: 70px;
}
.service-landing-img{
    border-radius: 20px;
    width: 480px;
    margin-left: 25px;
    margin-top: 30px;
}
#service-landing h3{
    max-width: 600px;
    font-size: 40px;
    font-weight: 600;
    margin-left: 85px;
    font-family: "Poppins", sans-serif;
}
#service-landing p{
    font-size: 14px;
    max-width: 550px;
    margin-left: 85px;
    margin-top: 30px;
}
#service-landing button{
    border: none;
    outline: none;
    width: 100px;
    font-size: 14px;
    background-color: #19213d;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin-left: 85px;
    margin-top: 20px;
    text-transform: capitalize;
}
#service-landing button a{
    color: #fff;
    text-decoration: none;
}
#service-landing button a:hover{
    color: #fff;
}
#pay{
    margin-top: 70px;
    margin-left: 85px;
}
#pay-content h3{
    max-width: 600px;
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 30px;
    line-height: 50px;
}
.pay-img{
    width: 400px;
    border-radius: 20px;
    margin-left: 30px;
}
#pay-content p{
    font-size: 14px;
    max-width: 580px;
}
#pay-content hr{
    border: 1px solid #000;
    margin-left: -80px;
    margin-bottom: 20px;
}
#pay-content button{
    border: none;
    outline: none;
    border-radius: 5px;
    width: 100px;
    padding: 7px;
    background-color: #19213d;
    color: #fff;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
#pay-content button a{
    text-decoration: none;
    color: #fff;
}
.main-offer{
    margin-left: 70px;
    margin-right: 70px;
}
.offer{
    text-align: center;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin: 50px 0;
}
#offer-icon{
    border: 1px solid #fff;
    border-radius: 100%;
    padding: 9px;
    background-color: #57E5B2;
    color: #fff;
    margin-top: 10px;
}
#offer-content h3{
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 10px;
}
#offer-content p{
    font-size: 13px;
    max-width: 350px;
}
#offer-content-border h3{
    font-size: 15px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    padding: 30px 0 10px 0;
}
#offer-content-border p{
    font-size: 13px;
    max-width: 350px;
}
#offer-content-border{
    border: 1px solid #fff;
    border-radius: 20px;
    background-color: #F9F4F4;
    padding: 10px;
}
#code{
    margin-top: 80px;
}
#code h3{
    font-size: 35px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    max-width: 500px;
}
#code p{
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    max-width: 550px;
    margin-top: 20px;
}
#code button{
    border: none;
    outline: none;
    padding: 7px;
    width: 100px;
    background-color: #19213d;
    border-radius: 5px;
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 500;
    margin-top: 10px;
}
#code button a{
    text-decoration: none;
    color: #fff;
}
#code button a:hover{
    color: #fff;
}
.code-img{
    width: 380px;
    border-radius: 20px;
    margin-left: 100px;
}
.count-img{
    width: 400px;
    border-radius: 20px;
}
#count{
    margin-top: 80px;
    margin-left: 85px;
    text-align: center;
}
#count h3{
    font-size: 25px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    padding-bottom: 20px;
}
#count p{
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    max-width: 550px;
}
#count button{
    border: none;
    outline: none;
    padding: 7px;
    width: 100px;
    font-size: 13px;
    background-color: #19213d;
    color: #fff;
    border-radius: 5px;
}
#count button a{
    text-decoration: none;
    color: #fff;
    padding-top: 10px;
}

@media only screen and (max-width: 600px){
    #landing-img{
        width: 80%;
        margin-left: 35px;
        margin-top: 20px;
    }
    #landing h3{
        padding: 0;
        margin-left: 20px;
        font-size: 30px;
        margin-bottom: 20px;
        margin-top: -20px;
    }
    #landing button{
        padding: 5;
        margin: 30px 0 10px 20px;
    }
    .team-img1, .team-img2, .team-img3{
        width: 80%;
        margin: 0 0 20px 38px;

    }
    .team{
        margin: 30px;
    }
    .team h5{
        font-size: 15px;
        margin: 10px;
    }
    .team h3{
        font-size: 18px;
        font-weight: 600;
    }
    #team{
        margin-top: -30px;
    }
    .mission-img{
        width: 100%;
        margin: 0;
        padding-bottom: 30px;
    }
    #about{
        margin-top: 0;
        padding: 0;
    }
    .bi-award-fill, .bi-chat-fill{
        /* position: relative;
        left: 0; */
        margin-left: -120px;
    }
    #icons{
        margin-top: 0;
    }
    .service-landing-img{
        width: 80%;
        margin-left: 33px;
    }
    #service-landing h3{
        font-size: 30px;
        line-height: 40px;
        margin-left: 20px;
        margin-top: -25px;
    }
    #service-landing p{
        margin-left: 20px;
        max-width: 600px;
        font-size: 12px;
    }
    #service-landing button{
        margin-left: 20px;
    }
    #database-content{
        padding: 20px;
    }
    #database{
        margin-top: 20px;
    }
    #database p{
        margin: -40px 0 0 140px;
    }
    #pay{
        margin-left: 0;
        margin-top: 10px;
    }
    #pay-content h3{
        font-size: 22px;
    }
    .pay-img{
        width: 70%;
        margin-top: 30px;
    }
    #pay-content hr{
        margin-top: -20px;
        width: 94%;
    }
    #pay-content p{
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 30px;
    }
    .main-offer{
        margin-left: 18px;
    }
    #offer-content-border{
        margin-left: 15px;
        width: 130%;
    }
    .offer{
        margin: 10px 0 20px 30px;
        font-size: 22px;
        text-align: center;
    }
    #code{
        text-align: center;
    }
    .code-img{
        width: 90%;
        margin: -30px 0 0 0;
    }
    #code h3{
        font-size: 15px;
        max-width: 200px;
        margin: auto;
        padding: 20px 0;
        line-height: 35px;
        font-weight: 600;
    }
    #code p{
        font-size: 12px;
        margin: 0;
    }
    #code button{
        margin-top: 35px;
        margin-bottom: 0;
    }
    #count{
        margin-top: 30px;
        margin-left: -10px;
    }
    .count-img{
        width: 80%;
    }
    #count h3{
        font-size: 16px;
    }
    #count p{
        font-size: 12px;
        padding: 10px;
    }
    #count button{
        margin: 15px 0 35px 0;
    }
    #about h3{
        font-size: 20px;
        margin-top: 20px;
        margin-left: 20px;
    }
    #about hr{
        margin-left: -65px;
        margin-top: 30px;
        width: 50px;
        color: #000;
        margin-bottom: 10px;
    }
    #about p{
        padding: 20px;
        max-width: 350px;
    }
    #about button{
        margin-left: 20px;
        margin-top: -60px;
    }
    #about-img{
        width: 55%;
        margin-top: 30px;
        margin-left: 80px;
    }
    .us{
        margin-top: 25px;
        font-size: 19px;
    }
    .mission-img{
        width: 80%;
        margin-top: -50px;
        margin-left: 38px;
    }
    #mission-txt{
        width: 85%;
        margin-left: 33px;
    }
    #mission-txt h3{
        font-size: 20px;
        font-weight: 600;
    }
}
